layout {
	tab_template name="with-bar" {
		children
	    pane size=1 borderless=true {
	        plugin location="zellij:compact-bar"
	    }
	}
	with-bar name="editor" {
		pane command="ns"
	}
    with-bar name="dev server" {
		pane {
			command "ns && pnpm dev" 
		}
	}
}

