@import "open-props/easings";
@import "open-props/gradients";

html,
body {
	min-height: 100%;
}

body {
	background-image: var(--gradient-23);
}

main {
	max-width: 720px;
	display: grid;
}

main > * {
	grid-row: 1;
	grid-column: 1;
}

form {
	display: flex;
	flex-direction: column;
}

code {
	padding: 0.125rem 0.25rem;
}

/* ================================================================== */
input[name="_stage"] {
	visibility: hidden;
}
#arrayin,
#premise {
	opacity: 0;
	animation-timing-function: var(--ease-2);
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	pointer-events: none;
}
input[value="premise"]:checked ~ #premise,
input[value="arrayin"]:checked ~ #arrayin {
	animation-name: appear;
	pointer-events: initial;
}
input[value="arrayin"]:checked ~ #premise {
	animation-name: disappear;
}

@keyframes appear {
	from {
		opacity: 0;
		translate: 0 4rem;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}
@keyframes disappear {
	from {
		opacity: 1;
		translate: 0 0;
	}
	to {
		opacity: 0;
		translate: 0 4rem;
	}
}

/* ================================================================== */
input[name="nums"] {
	position: relative;
	z-index: 10;
}
input[name="nums"] + small {
	z-index: 0;
	transition: opacity, translate, color;
	transition-duration: 300ms;
	transition-timing-function: var(--ease-squish-5);
}
input[name="nums"]:valid + small {
	opacity: 0;
	translate: 0 -2rem;
}
input[name="nums"]:invalid + small {
	translate: 0 0;
	opacity: 1;
	color: lightcoral;
}

/* ================================================================== */
pre {
	margin-top: 1rem;
	padding: 1rem;
}
